sm64-AI
models
wandb
runs
rayshit
__pycache__
recorded_images/*.png
# don't upload any models except the default hider and seeker
trained_models
!trained_models/agentHider.pt
!trained_models/agentSeeker.pt
graphs
